.ios, .md {
page-about {
    ion-content {
        background-image: url('../../assets/layout/tlo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    ion-navbar {
        background-image: url('../../assets/layout/pasek_gora.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #sport {
        // border-radius : 30px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 25%;
        height: auto;
        width: 30%;
        margin: 10px;
    }


    ion-segment{
        border: aquamarine;
    }

    h3{
        color: white;
        opacity: 0.75;
        text-shadow: 0 0 10px #FFF;
        font-style: italic;
        transform: skew(3.9deg);
    }

}
}