page-about {
    ion-content {
        background-image: url('../../assets/layout/tlo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    ion-navbar {
        background-image: url('../../assets/layout/pasek_gora.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #sport {
        border-radius : 30px;
            padding-left: 3px;
            padding-right: 3px;
            padding-top: 3px;
            padding-bottom: 3px;
    }


    ion-segment{
        border: aquamarine;
    }




}
