.ios, .md {

page-opis {
    ion-content {
        // background-color: aqua !important;
        background-image: url('../../assets/layout/tlo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }

    ion-navbar {
        background-image: url('../../assets/layout/pasek_gora.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .tlo{
        background-color: rgba(227, 175, 199, 0);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        // box-shadow: 22px 16px 65px -31px rgba(0,0,0,0.74);
        // border-radius : 10px;
    }
    .tlo2{
        background-color: rgba(227, 175, 199, 0);
        padding-left: -100000000px;
        left: -10px;
    }

    b {
        font-size: 16px;
        color: rgb(0, 0, 0);
    }
    // b{
    //     font-style: normal;
    // }
    p{
        font-size:15px;
        padding-bottom:10px;
        color: rgb(26, 26, 26);
        
    }
    h2{
        color: rgb(53, 53, 53);
        text-shadow: 0 0 10px #FFF;
        font-style: italic;
        transform: skew(3.9deg);
        font-size: 23px;
        font-weight: bold;
    }

    .multiline{
        white-space: pre-wrap;
        text-align: left;
        margin-top: -35px;
        margin-bottom: -40px;

    }
    .app-font {
        // font-size: 15px;
        // line-height: 1.7;
        // background-color: aqua;
        padding-top: 10px;
    }

    // ion-label {
    //     // text-overflow: ellipsis;
    //     // white-space: pre;
    //   }
  
    .multiline2{
        white-space: pre-wrap;
        margin-top: -85px;
        margin-left: -4px;
        }
    .multiline3{
        margin-top: -52px;
        margin-left: -1px;
        }
    .interlinia{
        line-height: 1.6;
    }
    a{
        color: rgb(216, 27, 216);
    }

    h1{
        text-align: left;
        font-size: 25px;
    }

    img{
        border-radius: 10px;
    }
    ion-slide{
        border-radius: 10px;
    }
    .zdjecia{
        // height: 200px;
        height: 30vh;
        width: 100%;
    }
    ion-slides{
        height: auto;
        border-radius: 10px;
    }
    .swiper-pagination-bullet-active {
        background: rgb(255, 255, 255);
        opacity: 1;
        }
    
    .nawigowanko{
        box-shadow:none;
        border-radius: 15px;
    }
    
    h3{
        color: white;
        opacity: 0.75;
        text-shadow: 0 0 10px #FFF;
        font-style: italic;
        transform: skew(3.9deg);
    }

    .Nazwa_Miejsca{
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .Tytuł{
        margin-left: 10px;
    }
    .Zawartość{
        margin-left: 10px;
        white-space: pre-wrap;
        text-align: left;
        line-height: 1.4;
    }


}
}