.ios, .md {

page-opis {
    ion-content {
        // background-color: aqua !important;
        background-image: url('../../assets/layout/tlo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }

    ion-navbar {
        background-image: url('../../assets/layout/pasek_gora.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    b {
        font-size: 16px;
        color: rgb(0, 0, 0);
    }
    // b{
    //     font-style: normal;
    // }
    // p{
    //     font-style: italic;
    // }

    .multiline{
        white-space: pre-wrap;
        margin-top: -53px;
        margin-left: -4px;
    }
    .multiline2{
        white-space: pre-wrap;
        margin-top: -85px;
        margin-left: -4px;
        }
    .multiline3{
        margin-top: -52px;
        margin-left: -1px;
        }
    .interlinia{
        line-height: 1.6;
    }
    a{
        color: rgb(245, 115, 201);
    }

    h1{
        text-align: center;
        font-size: 25px;
    }

    img{
        border-radius: 10px;
    }
    ion-slide{
        border-radius: 10px;
    }
    ion-slides{
        height: 200px;
        border-radius: 10px;
    }
    .swiper-pagination-bullet-active {
        background: rgb(255, 255, 255);
        opacity: 1;
        }
    
    .nawigowanko{
        box-shadow:none;
        border-radius: 15px;
    }

}
}